In [2]:
import pandas as pd

In [7]:
# 최근 분양가 파일을 로드해서 df_last 라는 변수에 담기
df_last = pd.read_csv("open-data-set/주택도시보증공사_전국 평균 분양가격(2019년 12월).csv", encoding="cp949", engine="python")
df_last.shape

(4335, 5)

In [8]:
# head로 파일을 미리보기
df_last.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [9]:
# tail로 파일을 미리보기
df_last.tail()

     지역명               규모구분    연도   월 분양가격(㎡)
4330  제주                 전체  2019  12    3882
4331  제주         전용면적 60㎡이하  2019  12     NaN
4332  제주   전용면적 60㎡초과 85㎡이하  2019  12    3898
4333  제주  전용면적 85㎡초과 102㎡이하  2019  12     NaN
4334  제주        전용면적 102㎡초과  2019  12    3601

#### 1.4.2 2015년부터 최근까지의 데이터 로드
전국 평균 분양가격(2013년 9월부터 2015년 8월까지) 파일을 불러옵니다.
df_first라는 변수에 담고 shape로 행과 열의 갯수를 출력합니다.

In [11]:
# 해당되는 폴더 혹은 경로의 파일 목록 출력

In [14]:
# df_first
df_first = pd.read_csv("open-data-set/전국 평균 분양가격(2013년 9월부터 2015년 8월까지).csv", encoding="cp949", engine="python")